<!doctype html>
<html lang="en">
<head>
<a href='//support.google.com/adsense/answer/2784438?hl=vi&utm_source=aso&utm_medium=link&utm_campaign=ww-ww-et-asfe_' target='_blank'> Learn more</a>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Welcome to OpenShift</title>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Bottom -->
	<ins class="adsbygoogle"
	style="display:inline-block;width:728px;height:90px"
	data-ad-client="ca-pub-3990637818864048"
	data-ad-slot="5492772212"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

</head>
<body>

	<section class='container'>
		<hgroup>
			<h1>Welcome to your Node.js application on OpenShift</h1>
		</hgroup>

		<footer>
			<div class="logo"><a href="https://www.openshift.com/"></a></div>
		</footer>
	</section>
</body>
</html>